<div class="custom-alert-container">
  <div class="search-container">
    <div class="input-line">
      <span class="search-title">_Pesquisar Localidades</span>

      <!-- <select  [(ngModel)]="selectedLocality" (change)="onSelectedLocality(selectedLocality=$event.target.value)" > -->
      <select [(ngModel)]="locality" (change)="onSelectedLocality(locality)">
        <option disabled>_Selecione</option>
        <option *ngFor="let locality of searchLocalitys" [value]="locality.id">
          {{locality.id}} </option>
      </select>
    </div>

    <form>

      <div class="input-line">
        <span> _RESPONSÁVEL</span>
        <input  name="enduser"  type="number" [(ngModel)]="customInterface.enduser">
      </div>

      <div class="input-line">
        <span> _SITE</span>
        <input id="site" name="site" type="text" [(ngModel)]="customInterface.site">
      </div>

      <div class="input-line">
        <span> _ROOM</span>
        <input id="room" name="room" type="number" [(ngModel)]="customInterface.room">
      </div>

      <div class="input-line">
        <span> _FLOOR</span>
        <input id="floor" name="floor" type="number" [(ngModel)]="customInterface.floor">
      </div>

      <form class="button-container">
        <button class="button" (click)="clearLocality(customInterface)">_Limpar Campos</button>
        <button class="button" (click)="postLocality()">_Salvar</button>
      </form>

      <pre>  {{ customInterface | json }} </pre>
      <pre>  {{ locality | json }} </pre>
      <pre>  {{ updateLocality | json }} </pre>
